<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Control de producción</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/dashboard.css" >

  <style>
    body .content {
      width: 1000px;
      }
      @media only screen and (max-width: 780px) {
      body .content {
      width: 768px;
      }
      }

      .tabla-izquierda{
        width:30%
      }
      @media only screen and (max-width: 780px){
        .tabla-izquierda{
          width:35%
        }
      }

      .tabla-derecha{
        width: 69%;
      }
      @media only screen and (max-width: 780px){
        .tabla-derecha{
          width: 64%;
        }
      }
</style>

</head>

<body>
  <!--cabecera donde va el nombre-->
  <nav class="navbar navbar-inverse navbar-fixed-top" style="top=-11px;width: 100%;position: absolute;background: white;">
    <div class="container-fluid content" style="border-radius: 3px;background-color: #428bca;">
      <a class="navbar-brand" href="#" style="font-weight: bold;font-size: 12px;">EA NET</a>
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="font-weight: bold;font-size: 12px;">Control de producción</a>
      </div>
    </div>
  </nav>

  <!--primer panel de prueba-->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width: 100%;margin-bottom: 3px;">
    <div class="panel panel-default content" role="button" href="#collapseOne" style="margin: auto;">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <span class="glyphicon glyphicon-chevron-down"></span>
            Acciones y Consultas
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" style="padding:10px;">
          <a class="btn btn-primary" role="button" data-toggle="collapse" href="#primerboton" aria-expanded="false" aria-controls="primerboton">
            Datos del cliente y vehículo
          </a>
          <!--<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#menu2" aria-expanded="false" aria-controls="collapseExample" style="float: right;margin-right: 20px;">
                    Button with data-target
                </button>-->
          <a class="btn btn-primary" role="button" data-toggle="collapse" href="#segundoboton" aria-expanded="false" aria-controls="segundoboton"
            style="float: right; margin-left: 15px;">
              Historial del vehículo
          </a>
          <a class="btn btn-primary" role="button" data-toggle="collapse" href="#segundoboton" aria-expanded="false" aria-controls="segundoboton"
            style="float: right;">
              Buscar
          </a>
          <div class="collapse" id="primerboton">
            <div class="well" style="float: left;width: 80%;">
              <div class="row">

                <div class="col-lg-12">
                  <div class="row">

                    <form (ngSubmit)="actualizar()" #empresaForm="ngForm" *ngIf="empresa">
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-3 form-group">
                            <label for="ruc">Nombre del cliente:</label>
                            <input type="text" name="ruc"  required [(ngModel)]="empresa.ruc" #ruc="ngModel" class="form-control">
                          </div>
                          <div class="col-sm-3 form-group">
                            <label for="nombre">DNI</label>
                            <input type="text" name="nombre" required [(ngModel)]="empresa.nombre" class="form-control"
                              #nombre>
                          </div>

                          <div class="col-sm-3 form-group">
                            <label for="direccion">Datos del carro</label>
                            <input type="text" name="direccion"  required [(ngModel)]="empresa.direccion"
                              class="form-control">
                          </div>

                          <div class="col-sm-3 form-group">
                            <label for="celular">Placa</label>
                            <input type="text" name="celular"  required [(ngModel)]="empresa.celular"
                              class="form-control">
                          </div>

                          <div class="col-sm-3 form-group">
                            <label for="celular">Mátricula</label>
                            <input type="text" name="celular"  required [(ngModel)]="empresa.celular"
                              class="form-control">
                          </div>

                          <div class="col-sm-3 form-group">
                            <label for="celular">Sección</label>
                            <input type="text" name="celular"  required [(ngModel)]="empresa.celular"
                              class="form-control">
                          </div>

                          <div class="col-sm-3 form-group">
                            <label for="celular">Color del carro</label>
                            <input type="text" name="celular"  required [(ngModel)]="empresa.celular"
                              class="form-control">
                          </div>

                          <div class="col-sm-3 form-group">
                            <label for="celular">Año del carro</label>
                            <input type="text" name="celular"  required [(ngModel)]="empresa.celular"
                              class="form-control">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--segundo panel con la grilla-->
  <div class="panel-group" id="idcerrarpanel" role="tablist" aria-multiselectable="false" style="width: 100%;margin-bottom: 3px;">
    <div class="panel panel-default content" style=" margin: auto;">
      <div class="panel-heading" role="tab" id="headingOne" style="height: 60px;">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#idcerrarpanel" href="#abrirordendeservicio" aria-expanded="false" aria-controls="abrirordendeservicio" style="margin-right: 20px;">
            <span class="glyphicon glyphicon-chevron-down"></span>
            Ordenes de servicio
          </a>
          <div style="display: inline-block;">
            <h5>
              De: <input type="text" style="width: 83px;"/>  <span class="glyphicon glyphicon-calendar"></span>
            </h5>
          </div>
          <div style="display: inline-block;">
            <h5>
              Al: <input type="text" style="width: 83px;"/>  <span class="glyphicon glyphicon-calendar"></span>
            </h5>
          </div>
          <div style="display: inline-block;margin-left:16px;">
            <h5>
             <span role="button" class="glyphicon glyphicon-search" style="font-size: 19px !important;"></span>
            </h5>
          </div>
          <div style="display: inline-block;margin-left: 40px;">
            <h5>
              Llave: <input type="text" style="width: 83px;"/>
            </h5>
          </div>
          <div style="display: inline-block;margin-left: 15px;">
            <h5>
              Nro.O/S: <input type="text" style="width: 83px;"/>
            </h5>
          </div>
        </h4>
      </div>
      <div id="abrirordendeservicio" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" style="padding:0px;">
          <!--CABECERA DE LA TABLA-->
          <div id="secondtable" style="width: 100%;display: block;position: relative;">
            <table class="table table-bordered mytable table-responsive" style="width: 100%;table-layout: fixed;padding:0px;"
              border="1" cellpadding="9" cellspacing="0" align="center">
              <thead align="center" style="width: 100px;display: table-header-group;">
                <tr class="tt" bgcolor="#EBEDF0">
                  <th style="font-size: 10px !important;width: 120px;">Nro O/S</th>
                  <th style="font-size: 10px !important;width: 65px;">Fecha <br>hora</th>
                  <th style="font-size: 10px !important;">Cliente<br> Asesor</th>
                  <th style="font-size: 10px !important;">Vehículo<br> Color- AÑO</th>
                  <th style="font-size: 10px !important;    width: 60px;">Placa<br>KM</th>
                  <th style="font-size: 10px !important;width: 175px;">Requerimiento principal<br> garantia</th>
                  <th style="font-size: 10px !important;width: 65px;">Total</th>
                  <th style="font-size: 10px !important;width: 25px;">SO</th>
                  <th style="font-size: 10px !important;width: 25px;">CC</th>
                  <th style="font-size: 10px !important;width: 25px;">CR</th>
                  <th style="font-size: 10px !important;width: 25px;">SC</th>
                  <th style="font-size: 10px !important;width: 25px;">SR</th>
                  <th  style="font-size: 10px !important;width: 17px;"></th>
                </tr>
              </thead>
            </table>
          </div>

               <!--BODY DE LA TABLA-->
     <div id="secondtable" style="width: 100%;position: relative;overflow-y: scroll;top: -21px;height: 150px;">
            <table class="table table-bordered mytable table-hover" style="width: 100%;table-layout: fixed;display: table;" border="1" *ngIf='beanoperacionservicios && beanoperacionservicios.length' cellpadding="9" cellspacing="0" align="center">
              <tbody style="overflow-y: auto !important;">
                <tr class="tt" style="cursor: pointer;font-size: 11px;">
                  <td style="text-align: center;font-size: 9px !important;width: 120px;">OS545451</td>
                  <td style="font-size: 9px !important;width: 65px;">16/04/2017</td>
                  <td style="font-size: 9px !important;">Juan Pablo Jaramillo Lozana</td>
                  <td style="text-align:right;font-size: 9px !important;">Subaru ADM 41545</td>
                  <td style="text-align:right;font-size: 9px !important;width: 60px;">AOD411</td>
                  <td style="text-align:right;font-size: 9px !important;width: 175px;">TIENE QUE HACER CAMBIO</td>
                  <td style="text-align:right;font-size: 9px !important;width: 65px;">1254</td>
                  <td style="text-align:right;font-size: 9px !important;width: 25px;">1</td>
                  <td style="text-align:right;font-size: 9px !important;width: 25px;">0</td>
                  <td style="text-align:right;font-size: 9px !important;width: 25px;">0</td>
                  <td style="text-align:right;font-size: 9px !important;width: 25px;">0</td>
                  <td style="text-align:right;font-size: 9px !important;width: 25px;">0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--control de producción tareas de técnicos-->
<div class="content" style="margin:auto;">
    <!--Tercer navbar-->
  <nav class="navbar navbar-default content nav-tecnicos" style="margin:auto;">
    <div class="container-fluid nav-tecnicos">
      <div class="navbar-header nav-tecnicos"  style="position:static;float:left;">
        <a class="navbar-brand nav-tecnicos" style="padding: 2px 2px 2px 8px;">
          <span>Control de Producción de Técnicos</span>
        </a>
      </div>
    </div>
  </nav>

  <!--tabla de técnicos-->
  <div class="table-responsive content" >
    <div class="tabla-izquierda" style="display: inline-block;margin-bottom: 13px;">
      <table class="table table-bordered" style="width:100%;">
        <thead>
          <tr>
            <td class="cabecera-tabla-tecnico" colspan="3" style="color: #fff;background-color: rgba(1, 1, 1, 0.8);border-color: #adadad;">Vehículo con</td>
          </tr>
          <tr>
            <td class="cabecera-tabla-tecnico" colspan="2" style="color: #fff;background-color: #c9302c;border-color: #ac2925;">Orden de Servicio</td>
            <td class="cabecera-tabla-tecnico" style="background-color: #337ab7;border-color: #2e6da4;color: #fff;">Tareas</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:center;">0</td>
            <td style="text-align:center;">Por Asignar</td>
            <td style="text-align:center;"></td>
          </tr>
          <tr>
            <td style="text-align:center;">10</td>
            <td style="text-align:center;"></td>
            <td style="text-align:center;">Asignada</td>
          </tr>
          <tr>
            <td style="text-align:center;">0</td>
            <td style="text-align:center;">X Lavado 1</td>
            <td style="text-align:center;"></td>
          </tr>
          <tr>
            <td style="text-align:center;">1</td>
            <td style="text-align:center;"></td>
            <td style="text-align:center;">Espera Producción</td>
          </tr>
          <tr>
            <td style="text-align:center;">6</td>
            <td style="text-align:center;"></td>
            <td style="text-align:center;">Producción</td>
          </tr>
          <tr>
            <td style="text-align:center;">3</td>
            <td style="text-align:center;"></td>
            <td style="text-align:center;">Detenido</td>
          </tr>
          <tr>
            <td style="text-align:center;">0</td>
            <td style="text-align:center;">Por Validar</td>
            <td style="text-align:center;"></td>
          </tr>
          <tr>
            <td style="text-align:center;">0</td>
            <td style="text-align:center;">C.Calidad</td>
            <td style="text-align:center;"></td>
          </tr>
          <tr>
            <td style="text-align:center;">0</td>
            <td style="text-align:center;">X Lavado 2</td>
            <td style="text-align:center;"></td>
          </tr>
        </tbody>
      </table>      
    </div>
    <div class="tabla-derecha" style="overflow-x: scroll;display: inline-block;margin-left: -3px;">
      <table class="table table-bordered" style="width: 100%;margin-bottom: 16px;">
        <thead>
          <tr>
            <th><a>Americo<br>Vera</a></th>
            <th><a>Anthony<br>Olivera</a></th>
            <th><a>David<br>Villano</a></th>
            <th><a>Emerson<br>Cabañas</a></th>
            <th><a>Emilio<br>Sanchez</a></th>
            <th><a>Jesus<br>Supanta</a></th>
            <th><a>Jesus<br>Vargas</a></th>
            <th><a>Jorge<br>Armenjol</a></th>
            <th><a>Jorge<br>Quispe</a></th>
            <th><a>José<br>Rivera</a></th>
            <th><a>Juan<br>Guevara</a></th>
            <th><a>Lucio<br>Aslla</a></th>
            <th><a>Lucio<br>Cruz</a></th>
            <th><a>Martin<br>Elias</a></th>
            <th><a>Nilver<br>Sanchez</a></th>
            <th><a>Pablo<br>Valera</a></th>
            <th><a>Raúl<br>Pinedo</a></th>
            <th><a>Williams<br>Pisco</a></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td style="text-align:center;">--</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">4</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">3</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;">3</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">3</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
            <tr>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">1</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;">2</td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
              <td style="text-align:center;"></td>
            </tr>
        </tbody>
      </table>      
    </div>
  </div>
</div>




  <!--segundo panel de prueba con dos botones-->
  
  <!--<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 20px;">
      Datos del cliente
    </a>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#menu2" aria-expanded="false" aria-controls="collapseExample" style="float: right;margin-right: 20px;">
      Datos del vehículo
    </a>
    <div class="collapse" id="collapseExample">
      <div class="well" style="float: left;margin-left: 20px;width: 40%;">
        hola mucho gusto como estas
     </div>
   </div>
    <div class="collapse" id="menu2">
     <div class="well" style="margin-left: 20px;margin-right: 20px;width: 40%;float: right;">
       estas en el menu dos
     </div>
    </div>-->


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html>